body{
    background: #D3D3D3;
}

.aboutUs{
    text-align: center;
    color: #EBEAE3;
    background: #5A6651;
    padding: 10px;
}

.description{
    text-align: center;
    background: #EBEAE2;
    color: #333333;
    padding: 30px;
    margin-bottom: 90px;
}

.scrolling {
    width: 650px;
    height: 200px;
    background: #D1D0C9;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
    border-radius: 12px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.loader {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: block;
    border-top: 3px solid #44ae72;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, calc(-50% - 1px)) scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 10;
}

@keyframes rotation { /* https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
    0% { transform: translate(-50%, calc(-50% - 1px)) rotate(0deg); }
    100% { transform: translate(-50%, calc(-50% - 1px)) rotate(360deg); }
}

.avi:hover .loader {
    transform: translate(-50%, calc(-50% - 1px)) scale(1);
    opacity: 1;
}

.avi {
    position: relative;
    display: inline-block;
}

.avi img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.avi::after {
    content: "Avi Patel";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.avi:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.avi:hover::after {
    opacity: 1;
}

.loader2 {
    border-top: 3px solid #3285f3;
    top: 50%;
    left: 50%;
}

.nehemiah:hover .loader {
    transform: translate(-50%, calc(-50% - 1px)) scale(1);
    opacity: 1;
}

.nehemiah {
    position: relative;
    display: inline-block;
}

.nehemiah img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nehemiah::after {
    content: "Nehemiah Sanders";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nehemiah:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.nehemiah:hover::after {
    opacity: 1;
}

.loader3 {
    border-top: 3px solid #333333;
    top: 50%;
    left: 50%;
}

.hamed:hover .loader {
    transform: translate(-50%, calc(-50% - 1px)) scale(1);
    opacity: 1;
}

.hamed {
    position: relative;
    display: inline-block;
}

.hamed img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hamed::after {
    content: "Mouhamadou Diop";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hamed:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.hamed:hover::after {
    opacity: 1;
}

.loader4 {
    border-top: 3px solid #A65959;
    top: 50%;
    left: 50%;
}

.marion:hover .loader {
    transform: translate(-50%, calc(-50% - 1px)) scale(1);
    opacity: 1;
}

.marion {
    position: relative;
    display: inline-block;
}

.marion img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.marion::after {
    content: "Marion Office";
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.marion:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.marion:hover::after {
    opacity: 1;
}

.loader5 {
    border-top: 3px solid #4E428A;
    top: 50%;
    left: 50%;
}

.john:hover .loader {
    transform: translate(-50%, calc(-50% - 1px)) scale(1);
    opacity: 1;
}

.john {
    position: relative;
    display: inline-block;
}

.john img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.john::after {
    content: "John Hernandez";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    font-size: 20px;
    transition: opacity 0.3s ease;
}

.john:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.john:hover::after {
    opacity: 1;
}

.loader6 {
    border-top: 3px solid #3E2723;
    top: 50%;
    left: 50%;
}

.jouji:hover .loader {
    transform: translate(-50%, calc(-50% - 1px)) scale(1);
    opacity: 1;
}

.jouji {
    position: relative;
    display: inline-block;
}

.jouji img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.jouji::after {
    content: "Jouji Takeda";
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.jouji:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.jouji:hover::after {
    opacity: 1;
}
