.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.hero-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}


.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #556B2F;
  padding: 10px 40px;
  color: white;
  height: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background-color: #F5F5DC;
  border-radius: 20px;
  margin-right: 10px;
}

.logo-text {
  font-size: 16px;
}

.rotating-title {
  font-size: 24px;
  font-weight: bold;
}

.title-rotate {
  display: inline-block;
}


.hero-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #D3D3D3;
  padding: 40px 20px 80px;
  position: relative;
  height: calc(100vh - 60px - 20px);
  box-sizing: border-box;
}

.hero-center-content {
  margin-top: 80px;
  z-index: 1;
}

.main-heading {
  font-size: 56px;
  color: #000;
  text-align: center;
}

.hero-buttons-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  z-index: 1;
}

.hero-button {
  width: 250px;
  height: 70px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #F5F5DC;
  padding: 15px 30px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;

}

.hero-button:hover {
  background-color: #EEEADC;
  transform: scale(1.3);
  box-shadow: 5px 15px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #556B2F;
  height: 20px;
  width: 100%;
}